# linux
*.o
*.a
src/test/test

# editors
*.swp
*.swo

# autotools
**/Makefile
**/Makefile.in
**/.deps
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
ltmain.sh
missing
depcomp

# MSVC
*.suo
*.ncb
*.vcxproj.*
*.vcproj.*
src/**/Debug/
src/**/Release/
debug/
release/
Backup*/
UpgradeLog*.htm
*.VC.db
*.VC.opendb
*.vcxproj
*.vcproj

